body {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  font-size: 18px;
  line-height: 1.6; }

.header {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px; }
  .header__logo {
    margin-right: 50px; }

.menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .menu li {
    display: inline-block; }

.about {
  width: 1200px;
  margin: 0 auto; }
  .about img {
    width: 200px;
    float: left; }
